.not-matching-passwords, .not-matching-passwords:active, .not-matching-passwords:focus {
  box-shadow: 0 0 5px 1px #f70000 !important;
  display: flex;    
}

.no-box-shadow, .no-box-shadow:active, .no-box-shadow:focus{
    box-shadow: none !important;
}

.warning-red{
    color: rgb(238, 46, 46);
}