.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-menu {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-right: 20%; */
}

.nav-menu li {
  float: left;
  margin: 10px;
}

#logout{
  height: 10%;
  width: 10%;
}

#user-logo{
  height: 10%;
  width: 10%;
 
}

.features-icons-item{
  text-align: center;
}





.nav-menu a:link,
.nav-menu a:visited,
.nav-menu a:hover,
.nav-menu a:active {
  color: #212529;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("./img/MASTER\ HEAD\ IMG.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

#icon1{
  height: 50%;
  width: 50%;
  content: url("./img/icon\ about.png")
}
#icon2{
  height: 50%;
  width: 50%;
  content: url("./img/Icon\ 2.png")
}

#icon3{
  height: 50%;
  width: 50%;
  content: url("./img/ICON3.png")
}


#usImage1{
  content: url("./img/PEXELS2.jpg");
}

#usImage2{
  content: url("./img/PEXELS1.jpg");
}

#personImg1{
  content: url("./img/PEXELS3.jpg");
  width: 50%;
  height: 50%;
}
#personImg2{
  content: url("./img/PEXELS4.jpg");
  width: 50%;
  height: 50%;
}
#personImg3{
  width: 50%;
  height: 50%;
  content: url("./img/PEXELS5.jpg");
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
 
}
.login-form-1 {
  padding-top: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-container form {
  padding: 10%;
}

.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i.marker{
  color: red;
  width: 10000000px;
  height: 50px;
}
